PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_3nDoRCQIBJf0@ep-muddy-darkness-anblqe5q-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=super-secret-jwt-key-change-this
JWT_EXPIRES_IN=7d
FRONTEND_ORIGIN=https://beautiful-lokum-5afa12.netlify.app/
GOOGLE_CLIENT_ID=1063048431459-6a779cocjkqdpsg5ufidiv8732j2217b.apps.googleusercontent.com

